<p id="notice"><%= notice %></p>
<%= puts "Prompt: #{@assignment}" %>
<p>
  <b>Prompt:</b>
  <%= @assignment.prompt %>
</p>

<p>
  <b>Start date:</b>
  <%= @assignment.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @assignment.end_date %>
</p>

